<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>20/07/19 14:00:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestPepper.beforeTest()[pri:0, instance:day5.TestPepper@7cd62f43]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/07/19 14:01:10</td>   <td>40706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPepper.performTest()[pri:0, instance:day5.TestPepper@7cd62f43]">performTest</td> 
  <td>main@1268066861</td>   <td></td> </tr>
</table>
